<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{category}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <br>
    <div class="category-block">
       <ion-row no-padding class="category-banner">
        <ion-title style="font-weight: bold; font-size: 25px;">
          {{ movieList.title }}
        </ion-title>
      </ion-row> 
      <br>
      <ion-slides [options]="sliderConfig">
        <ion-slide *ngFor="let movie of movieList.movie_1">
          <div *ngIf="movieList.expanded">
            <ion-card style="position: relative;height: 300px;">
              <img src="{{movie.image}}"  [routerLink]="['/', 'movie-details', movie.id]">
            </ion-card>
          </div>
        </ion-slide>
      </ion-slides>
      <br>
      <ion-row no-padding class="category-banner">
        <ion-title style="font-weight: bold; font-size: 25px;">
          {{ movieList.category_2 }}
        </ion-title>
      </ion-row>
      <br>
      <ion-slides [options]="sliderConfig">
        <ion-slide *ngFor="let movie of movieList.movie_2">
          <div *ngIf="movieList.expanded">
            <ion-card style="position: relative;height: 350px;">
              <img src="{{movie.image}}"  [routerLink]="['/', 'movie-details', movie.id]">
            </ion-card>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
  </ion-list>
</ion-content>