ion-menu-button {
    color: var(--ion-color-primary);
  }
  
  #container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  .container{
    position: relative;
    width: 100%;
  }
  
  .slidetitle { 
   position: absolute; 
   bottom: 60px;
   left: 18px;
   color: white;
   text-align: left;
   font-family: 'Libre Baskerville', serif;
  }
  
  .block{
   background-color:rgba(0, 0, 0, 0.5);
   padding: 4px;
  }
  
  .author {
   position: absolute; 
   bottom: 25px;
   left: 20px;
   color: rgb(240, 240, 240);
   font-size: 15px !important;
   font-weight: 300;
   text-shadow: 1px 1px 3px #000000;
  }
  
  .sub-headers{
   padding-left: 20px;
   text-align: center;
   font-weight: bold;
  }