ion-item:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
ion-item:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
ion-item.item {
    background-color: rgba(255, 255, 255, 0.4);
    margin-bottom: 1px;
    .label {
        width: 10%;
        color: rgba(0, 0, 0, 0.6);
        font-size: 1.2em;
    }
}
.submit-btn {
    padding-left: 20px;
}
.go-to-login {
    padding-left: 20px;
}
.error-message{
    padding-left: 20px;
}
