<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>DBS Movie Reviews</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <br>
  <div *ngIf="userName">
    <ion-title>
      Welcome, {{userName}}
    </ion-title>
  </div>
  <ion-segment scrollable>
    <ion-segment-button routerLink="/details/Action" value="Action">
      <ion-label>Action</ion-label>
    </ion-segment-button>
    <ion-segment-button routerLink="/details/Series" value="Series">
      <ion-label>Series</ion-label>
    </ion-segment-button>
    <ion-segment-button routerLink="/details/Comedy" value="Comedy">
      <ion-label>Comedy</ion-label>
    </ion-segment-button>
    <ion-segment-button routerLink="/details/Romantic" value="Romantic">
      <ion-label>Romantic</ion-label>
    </ion-segment-button>
    <ion-segment-button routerLink="/details/Thriller" value="Thriller">
      <ion-label>Thriller</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-slides class="slide-padding" pager>
    <ion-slide *ngFor="let movie of homePage">
      <div class="container">
        <ion-img src="{{movie.picture}}"></ion-img>
        <h2 class="slidetitle">
          <span class="block">{{movie.title}}</span>
        </h2>
      </div>
    </ion-slide>
  </ion-slides>
  <br>
  <div *ngFor="let movieData of movieList" class="category-block">
    <ion-row no-padding class="category-banner">
      <ion-title style="font-weight: bold; font-size: 25px;">{{ movieData.title }}</ion-title>
    </ion-row>
    <br>
    <ion-slides [options]="sliderConfig">
      <ion-slide *ngFor="let movie of movieData.movie_1">
        <div *ngIf="movieData.expanded">
          <ion-card style="position: relative;height: 300px;">
            <img style=" width: auto;height: auto;" src="{{movie.image}}"
              [routerLink]="['/', 'movie-details', movie.id]">
          </ion-card>
        </div>
      </ion-slide>
    </ion-slides>
    <br>
  </div>
</ion-content>